h1 {
      margin: 0px;
      text-align: center;



    }


    body {
      background-color: black;
    
      
    }

    ul {
      background-color: white;
      color: black;
      font-size: 20px;
      margin: 0px;
      list-style: none;
    }

    .minhaprimeiraclasse {color:white;
      

    }

    